<main>

  <!-- Header main -->
  <div class="col-md-10 offset-md-2">
    <div class="row no-gutters pl-4 pr-4">
      <h1>Vos candidatures</h1>
    </div>
  </div>

  <div class="row no-gutters">

    <div class="col offset-md-2 pl-4">
      <div class="col-md-12">
        <h2>Candidatures en cours <span class="pastille">2</span></h2>
      </div>

      <ul class="col-md-12 application">
          <li>
            <div>
              <p class="libelle">logo</p>
              <img class="logo" src="assets/img/nike.png" alt="">
            </div>
            <span></span>
            <div>
              <p class="libelle">marque</p>
              <p>NIKE</p>
            </div>
            <span></span>
            <div>
              <p class="libelle">titre de l'annonce</p>
              <p>Recherche un athlete pour mettre en avant nos produits de basket-ball</p>
            </div>
            <span></span>
            <div>
              <p class="libelle">date candidature</p>
              <p>05/10/19</p>
            </div>
            <span></span>
            <div>
              <p class="libelle">état</p>
              <p>vu (07/10/19)</p>
            </div>
            <span></span>
            <a>détails</a>
          </li>

          <li>
            <div>
              <p class="libelle">logo</p>
              <img class="logo" src="assets/img/nike.png" alt="">
            </div>
            <span></span>
            <div>
              <p class="libelle">marque</p>
              <p>NIKE</p>
            </div>
            <span></span>
            <div>
              <p class="libelle">titre de l'annonce</p>
              <p>Recherche un athlete pour mettre en avant nos produits de basket-ball</p>
            </div>
            <span></span>
            <div>
              <p class="libelle">date candidature</p>
              <p>05/10/19</p>
            </div>
            <span></span>
            <div>
              <p class="libelle">état</p>
              <p>négociation (08/10/19)</p>
            </div>
            <span></span>
            <a>détails</a>
          </li>
        </ul>
    </div>

  </div>

  <div class="row no-gutters">

    <div class="col offset-md-2 pl-4">
      <div class="col-md-12">
        <h2>Anciennes candidatures <a class="link-green">masquer</a></h2>
      </div>
    </div>

  </div>

</main>

