<main>
  <!-- Header main -->
  <div class="col-md-10 offset-md-2">
    <div class="row no-gutters pl-4 pr-4">
      <h1>Les campagnes</h1>
    </div>

    <div class="second_header_campagne row no-gutters pl-4 pr-4">
      <div class="search">
        <input type="text" placeholder="Recherche par mot clé (exemple: basket-ball, Nike...)">
        <img src="assets/img/search.png" alt="">
      </div>

      <div class="filter">
        <img src="assets/img/filter.png" alt="">
      </div>

      <a class="best_annonces">Afficher les annonces<br>qui me correspondent le plus</a>

      <div class="tri">
        <a>Dernières</a>
        <img src="assets/img/down-arrow.png" alt="">
      </div>

    </div>
  </div>

  <div class="row no-gutters">
    <div class="col offset-md-2 pl-4 pr-4">
      <ul class="col-md-12 offers">
        <li>
          <div>
            <p class="libelle">logo</p>
            <img class="logo" src="assets/img/nike.png" alt="">
          </div>
          <span></span>
          <div>
            <p class="libelle">marque</p>
            <p>NIKE</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">titre de l'annonce</p>
            <p>Recherche un athlete pour mettre en avant nos produits de basket-ball</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">rémunération</p>
            <p>1000€ / mois</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">réseaux sociaux</p>
            <img class="reseaux_sociaux" src="assets/img/instagram.png" alt="">
            <img class="reseaux_sociaux" src="assets/img/youtube.png" alt="">
          </div>
          <span></span>
          <a>détails</a>
        </li>

        <li>
          <div>
            <p class="libelle">logo</p>
            <img class="logo" src="assets/img/nike.png" alt="">
          </div>
          <span></span>
          <div>
            <p class="libelle">marque</p>
            <p>NIKE</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">titre de l'annonce</p>
            <p>Recherche un athlete pour mettre en avant nos produits de basket-ball</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">rémunération</p>
            <p>1000€ / mois</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">réseaux sociaux</p>
            <img class="reseaux_sociaux" src="assets/img/instagram.png" alt="">
            <img class="reseaux_sociaux" src="assets/img/youtube.png" alt="">
          </div>
          <span></span>
          <a>détails</a>
        </li>

        <li>
          <div>
            <p class="libelle">logo</p>
            <img class="logo" src="assets/img/nike.png" alt="">
          </div>
          <span></span>
          <div>
            <p class="libelle">marque</p>
            <p>NIKE</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">titre de l'annonce</p>
            <p>Recherche un athlete pour mettre en avant nos produits de basket-ball, en avant nos produits de basket-ball</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">rémunération</p>
            <p>1000€ / mois</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">réseaux sociaux</p>
            <img class="reseaux_sociaux" src="assets/img/instagram.png" alt="">
            <img class="reseaux_sociaux" src="assets/img/youtube.png" alt="">
          </div>
          <span></span>
          <a>détails</a>
        </li>

        <li>
          <div>
            <p class="libelle">logo</p>
            <img class="logo" src="assets/img/nike.png" alt="">
          </div>
          <span></span>
          <div>
            <p class="libelle">marque</p>
            <p>NIKE</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">titre de l'annonce</p>
            <p>Recherche un athlete pour mettre en avant nos produits de basket-ball</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">rémunération</p>
            <p>1000€ / mois</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">réseaux sociaux</p>
            <img class="reseaux_sociaux" src="assets/img/instagram.png" alt="">
            <img class="reseaux_sociaux" src="assets/img/youtube.png" alt="">
          </div>
          <span></span>
          <a>détails</a>
        </li>

        <li>
          <div>
            <p class="libelle">logo</p>
            <img class="logo" src="assets/img/nike.png" alt="">
          </div>
          <span></span>
          <div>
            <p class="libelle">marque</p>
            <p>NIKE</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">titre de l'annonce</p>
            <p>Recherche un athlete pour mettre en avant nos produits de basket-ball</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">rémunération</p>
            <p>1000€ / mois</p>
          </div>
          <span></span>
          <div>
            <p class="libelle">réseaux sociaux</p>
            <img class="reseaux_sociaux" src="assets/img/instagram.png" alt="">
            <img class="reseaux_sociaux" src="assets/img/youtube.png" alt="">
          </div>
          <span></span>
          <a>détails</a>
        </li>
      </ul>

      <div class="col-md-12 link">
        <a>En afficher plus (+10)</a>
      </div>

    </div>

    <!-- <ul>
      <li *ngFor="let offer of listOffer">
        <h2>{{ offer.name }}</h2>
      </li>
    </ul> -->
  </div>

</main>
