// Font

// ROBOTO
@font-face {
    font-family: "Roboto";
    src: url("assets/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("assets/font/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

// Color

$green: #BFB824;
$blue: #1A1E41;


// TEMPLATE
body {
  font-family: 'Roboto', 'sans-serif';
}

h1 {
  font-size: 20px;
  font-weight: 700;
  padding: 43px 0;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

a.link-green {
  font-size: 16px;
  font-weight: 700;
  color: $green;
}

main {
  padding-top: 71px;
}

.bloc {
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

// HEADER
header {
  float:left;
  background-color: #F2F2F2;
  font-weight: 700;
  font-size: 16px;
  position: fixed !important;
  z-index: 2;
  .search {
    position: relative;
    width: 50%;
    input {
      background-color: transparent;
      padding: 5px 20px;
      border: 2px solid #000;
      border-radius: 20px;
      outline: 0;
      font-weight: 700;
      width: 100%;
      &::placeholder {
        color: #000;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    img {
      position: absolute;
      right: 20px;
      top: 7px;
      width: 22px;
    }
  }
  .profil {
    img {
      width: 40px;
      border-radius: 100%;
    }
  }
  a {
    text-transform: uppercase;
  }
}

// SIDENAV
div.sidebar {
  height: 100vh;
  background-color: $blue;
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
  position: fixed;
  img {
    width: 100px;
    margin: 25px 0 50px 0;
  }
  nav {
    float: right;
    text-align: left;
    padding: 0;
    margin: 0;
    li {
      padding: 12px 0 12px 20px;
      a {
        color: #FFF;
        font-weight: 400;
        &:hover {
          text-decoration: none;
        }
      }
      &.active {
        background-color: #FFF;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        a {
          font-weight: 700;
          color: $blue;
        }
      }
    }
    &.nav2 {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

// LOGIN

div.login {
  background-color: $blue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 50px 100px;
  border-radius: 10px;
  img {
    width: 125px;
    margin-bottom: 50px;
  }
  p {
    font-size: 12px;
    color: #FFF;
    a {
      color: $green;
    }
  }
  h2 {
    font-size: 20px;
    color: #FFF;
  }
  a.link_forgot_password {
    color: $green;
    font-size: 12px;
    margin-top: 20px;
    display: block;
  }
}

// FORM
form {
  color:#FFF;
  input {
    display: block;
    &[type=email], &[type=password]{
      background-color: transparent;
      border: 2px solid #FFF;
      color: #FFF;
      padding: 8px 30px;
      font-size: 14px;
      font-weight: 700;
      border-radius: 20px;
      margin-bottom: 30px;
      outline: transparent;
      &::placeholder {
        text-align: center;
        color: #FFF;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
  }
  button {
    color: #FFF;
    background-color: $green;
    border-radius: 20px;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    width: 100%;
    cursor: pointer;
  }
}

// DASHBOARD

// Profil
div.profil-dashboard {
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-bottom: 20px;
  p:first-of-type {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 700;
  }
  p:last-of-type {
    padding: 5px 0;
    font-size: 10px;
  }
  a.link-green {
    display: inline-block;
    padding: 50px 0;
  }
}

// Chiffres
div.chiffres-dashboard {
  margin-bottom: 20px;
  .bloc {
    padding: 35px 10px;
    span {
      color: #FFF;
      background-color: $green;
      padding: 10px;
      border-radius: 50%;
      font-size: 25px;
      font-weight: 700;
      width: 60px;
      height: 60px;
      text-align: center;
      margin: 0 auto;
      display: block;
      margin-bottom: 35px;
    }
    p {
      color: #979797;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

// Reseaux sociaux
div.reseaux-sociaux-dashboard {
  margin-bottom: 20px;
  .bloc {
    padding: 10px 20px;
    img {
      width: 30px;
    }
    p {
      margin: 0;
      &:first-of-type {
        padding: 10px 0;
        font-size: 25px;
        font-weight: 700;
      }
      &:last-of-type {
        color: #979797;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

div.evenements-dashboard {
  .bloc {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    p {
      margin: 0;
      font-size: 16px;
      font-weight: 700;
      &:last-of-type {
        color: #979797;
      }
    }
    a {
      cursor: pointer;
    }
  }
  .link {
    text-align: center;
    padding: 10px 0;
  }
}


// -- vars
$bg-color: #34495e;
$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;

// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

.set-size {
  font-size: 14em;
}

.charts-container {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.pie-wrapper {
  @include size($default-size, $default-size);
  //float: left;
  margin: 15px;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  border:1px solid $green;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 20) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  img {
    position: absolute;
    width: calc( 100% - 22px );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: brightness(50%);
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    bottom: $label-font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: $label-font-size-redo / 10;
    line-height: $label-font-size-redo * .70;
    position: absolute;
    right: $label-font-size-redo / 10;
    text-align: center;
    top: $label-font-size-redo / 10;
    font-weight: 700;
  }

  .fond {
    @include size(100%, 100%);
    border: $default-size / 20 solid #FFF;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: $green;
    }
  }

  &.progress-45 {
    @include draw-progress(45, $green);
  }
}

// CAMPAGNES

div.second_header_campagne {
  margin-top: -30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .search {
    position: relative;
    input {
      background-color: transparent;
      padding: 5px 20px;
      border: 2px solid #000;
      border-radius: 20px;
      outline: 0;
      font-weight: 700;
      width: 650px;
      &::placeholder {
        color: #000;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    img {
      position: absolute;
      right: 20px;
      top: 7px;
      width: 22px;
    }
  }
  div.filter {
    border: 2px solid #000;
    border-radius: 100%;
    padding: 6px;
    img {
      width: 22px;
    }
  }
  a.best_annonces {
    text-align: center;
    font-weight: 700;
    color: $green;
    font-size: 16px;
    cursor: pointer;
  }
  div.tri {
    a {
      font-size: 14px;
      font-weight: 700;
    }
    img {
      margin-left: 5px;
    }
  }

}

ul.offers {
  list-style: none;
  li {
    padding: 10px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 35px;
    div {
      margin: 0 10px;
      &:nth-of-type(3) {
        width: 50%;
      }
      p {
        margin: 0;
        &.libelle {
          font-size: 9px;
          font-weight: 700;
          color: #C4C4C4;
        }
        &:last-of-type {
          font-weight: 700;
        }
      }
      img.logo {
        margin-top: -10px;
      }
      img.reseaux_sociaux {
        width: 12px;
        margin-right: 10px;
      }
    }
    span {
      width: 2px;
      background-color: #F2F2F2;
    }
    a {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 700;
      color: $green;
      cursor: pointer;
    }
  }
}

div.link {
  text-align: center;
  margin-bottom: 20px;
  a {
    color: $green;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}

