@import url('https://fonts.googleapis.com/css?family=Lato:700|Nunito:400,700&display=swap');


$turquoise: #44ddd0;
$blue: #276dd7;
$dark-blue: #1985e4;
$danger: #e27e7e;

$light: #f4f4f4;

$family-sans-sherif: "Nunito", "sans-sherif";
$primary: $blue;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html, body {
  background: linear-gradient(to right top, $turquoise, $blue);
}

html, body {
  font-family: 'Nunito';
  height: 100%;
}

.white-text {
  color: white;
}

.title {
  color: white;
  font-family: "Lato";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
