<div class="col-md-2 sidebar">
  <img src="assets/img/logo_mysponsport.png" alt="">

  <nav class="col-md-11">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="'/'">Tableau de bord</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="'/campagne'">Campagnes</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="'/message'">Messages</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="'/candidature'">Candidatures</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="'/proposition'">Propositions</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="'/historique'">Historique</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="'/calendrier'">Mon calendrier</a>
      </li>
    </ul>
  </nav>

  <nav class="col-md-11 nav2">
    <ul>
      <li>
        <a>Gestions des porfils</a>
      </li>
      <li>
        <a>Exploration OS</a>
      </li>
    </ul>
  </nav>
</div>
