<!-- <app-form-login
    *ngIf="!userData"
    (formSubmit)="getUserInfo($event)"
></app-form-login> -->
<main>

  <!-- Header main -->
  <div class="col-md-10 offset-md-2">
    <div class="row no-gutters pl-4 pr-4">
      <h1>Bienvenue Sarah</h1>
    </div>
  </div>

  <div class="row no-gutters">

    <!-- Début Colonne Gauche-->
    <div class="col-md-4 offset-md-2 pl-4">
        <!-- Début Profil -->
        <div class="col-md-12">
          <h2>Profil</h2>
          <div class="profil-dashboard">
            <p>Sarah Ourahmoune</p>
            <p>profil complété à</p>
            <div class="set-size charts-container">
              <div class="pie-wrapper progress-45 style-2">
                <img src="assets/img/profil.jpg" alt="">
                <span class="label">45%</span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
                <div class="fond"></div>
              </div>
            </div>
            <a class="link-green">Compléter votre profil</a>
          </div>
        </div>
        <!-- Fin Profil -->

        <!-- Début Réseaux sociaux -->
        <div class="col-md-12">
          <h2>Réseaux sociaux</h2>
          <div class="row reseaux-sociaux-dashboard">
            <div class="col-md-4">
              <div class="col-md-12 bloc">
                <img src="assets/img/facebook.png" alt="">
                <p>695</p>
                <p>j'aimes</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12 bloc">
                <img src="assets/img/twitter.png" alt="">
                <p>225</p>
                <p>abonnés</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12 bloc">
                <img src="assets/img/instagram.png" alt="">
                <p>356</p>
                <p>abonnés</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin Réseaux sociaux -->

    </div>
    <!-- Fin Colonne Gauche-->

    <!-- Début Colonne Droite -->
    <div class="col-md-6 pr-4">

      <!-- Début Chiffres -->
      <div class="col-md-12">
        <h2>Chiffres</h2>
        <div class="row chiffres-dashboard">
          <div class="col-md-4">
            <div class="col-md-12 bloc">
              <span>2</span>
              <p>Candidatures en cours</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12 bloc">
              <span>12</span>
              <p>Propositions</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12 bloc">
              <span>4</span>
              <p>Accords conclus</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Réseaux sociaux -->

      <!-- Début Évènements -->
      <div class="col-md-12">
        <h2>Évènements à venir</h2>
        <div class="row evenements-dashboard">
          <div class="col-md-12">
            <div class="col-md-12 bloc">
              <p>Aujourd'hui</p>
              <p>16h15</p>
              <p>Rendez-vous avec le manager</p>
              <a class="link-green">Détails</a>
            </div>

            <div class="col-md-12 bloc">
              <p>Aujourd'hui</p>
              <p>16h15</p>
              <p>Rendez-vous avec le manager</p>
              <a class="link-green">Détails</a>
            </div>

            <div class="col-md-12 bloc">
              <p>Aujourd'hui</p>
              <p>16h15</p>
              <p>Rendez-vous avec le manager</p>
              <a class="link-green">Détails</a>
            </div>

            <div class="col-md-12 bloc">
              <p>Aujourd'hui</p>
              <p>16h15</p>
              <p>Rendez-vous avec le manager</p>
              <a class="link-green">Détails</a>
            </div>
            <div class="col-md-12 link">
                <a class="link-green">Voir le calendrier</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Évènements -->

    </div>
    <!-- Fin Colonne Droite -->

  </div>

</main>



